numpy==1.17.1
Flask==1.1.1
Flask-Admin==1.5.3
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Flask-Uploads==0.2.1
gunicorn==19.4.5
itsdangerous==0.24
pytz==2016.10
structlog==16.1.0
termcolor==1.1.0
WTForms==2.1
keras==2.2.4
tensorflow==2.7.2
pandas==0.19.1
h5py==2.7.0
opencv-python>=3.4.0.12
paypalrestsdk==1.13.1
paypal-checkout-serversdk==1.0.0
matplotlib>=3.1.1
Pillow==6.2.0
stripe==2.39.0
