{% extends "layout.html" %}
{% block content %}
<style>
.column {
  float: left;
  padding: 1px;
  width: 50%;
}
</style>
<body>
<div class="row" style="text-align:center;background-color:#1B1C1D;margin:5%">
	<div class="column" style="color: white;width:28%;padding:6%;top:10px;position: relative;">
	<div style="position:absolute; top:70%">
		<h2>Emotion and gender classifier</h2>
		<p>This model detect faces in image and classifier each faces with respectivy gender and emotion. 
		It can used for people counting, engaged user in bussiness location, satiscfaction, positivi buyers with especify product.</p>
		<div class="item">
			<a class="ui primary button" href="/face">Go to test model!</a>
		</div>
		</div>
	</div>
	<div class="column" style="width:68%;padding:5%">
		<img width="90%" src="../static/img/predicted_test_image.png">
		
	</div>
	
	
</div>
</body>
{% endblock %}