{% extends "index.html" %}
{% block content %}
<style>

.esconder {
visibility: hidden;
}
</style>

<div class="text-center fa"style="padding:5%;position:absolute;margin-top:10%"> 
<h3>Upload your image for model detect faces and classifier gender and emotion.</h3>
<div class="fa row" style="padding:5%" >
	<div class="col-md-6" style="float:left">
		<img width="75%" src="../static/img/test_image.jpg">
	</div>
	<div class="col-md-6" style="float:left">
		<img width="75%" src="../static/img/predicted_test_image.png">
	</div>
</div>
 {% if current_user.is_authenticated %}

  <form action = "http://localhost:5000/uploaded" method = "POST"
         enctype = "multipart/form-data">
	 <input type = "file" name = "photo" style="background-color:#3b83c0;"/>
	 <input type = "submit"/>
	 <input hidden name="source" value="web"/>
  </form>
	  
	  <div  class="fa"style="padding:5%;" id="paypal-button"><h3>Want to buy the model? Click the button below and we will send it to you!</h3>
	  {% else %}	  
		<h4 class="fa" style="margin-top:3%">Sign in for upload</h4>
	  {% endif %}
	  </div>
</div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    var CREATE_PAYMENT_URL  = 'http://localhost:5000/user/payment';
    var EXECUTE_PAYMENT_URL = 'http://localhost:5000/user/execute';

    paypal.Button.render({
	
	style: {
		 layout: 'horizontal',
		 fundingicons: 'true',
		},

        env: 'sandbox', // Or 'sandbox' or 'production'

        commit: true, // Show a 'Pay Now' button

        payment: function() {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                return data.paymentID;
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID
            }).then(function(res) {

                console.log(res.success)
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
{% endblock %}